@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts-and-icons/font-awesome-4.7.0/fonts/fontawesome-webfont.eot');
    src: url('../fonts-and-icons/font-awesome-4.7.0/fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('../fonts-and-icons/font-awesome-4.7.0/fonts/fontawesome-webfont.woff') format('woff'), url('../fonts-and-icons/font-awesome-4.7.0/fonts/fontawesome-webfont.ttf') format('truetype');
}

body,html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}


/* bgs and colors */

.bg-theme {
    background: #ED8323;
}

.fg-theme {
    color: #ED8323;
}

.fg-dark {
    color: #000;
}

.fg-lite {
    color: #fff;
}

/* Text */

h1 { margin: 0 0 1em 0; font-size: 2.8em; font-weight: 700; }

h2 { margin: 0 0 0.5em 0; font-size: 1.6em; font-weight: 700; line-height: 1.1em}

h3 { margin: 0 0 0.5em 0; font-size: 1.3em; font-weight: 700;}

h4 { margin: 0 0 1.5em 0; font-size: 1em; font-weight: 700;}
form{padding:0;margin:0}

.font-sm-lite {
    color: #a6a6a6;
    font-size: 0.8rem;
}

/* ul list */
ul { padding: 0px; }

/* Input */
input, select { margin: 0px; }


/* site header */

.site-head h1 {
    margin: 25px;
}

/* Container - #page */
#page {
  position: relative;
  width: 100%;
  height: 100%;
}

label {
    font-size: 0.9rem;
    color: #6b5858;
}

input, select {
    display: block;
    font-size: 0.9rem;
    /* color: #6b5858; */
    color: #555;
}

.btn {
    text-decoration: none;
    border: 1px solid;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
}

.btn-prime {
    background-color: #4285f4;
    color: #fff;
    border-color: transparent!important;
}

.btn-action {
    background-color: #ED8323;
    color: #fff;
    border-color: transparent!important;
}

/* Section - search form */

section.search-form, section.search-results {
    margin: 25px;
    border: 1px solid #ccc;   
    box-shadow: 0 3px 3px rgba(0,0,0,0.175);
    background: #f5f5f5;
}
section.search-results .content-container{
    border-bottom:1px solid #ccc;
    box-shadow: 0 3px 3px rgba(0,0,0,0.175);
}
.content-container{
    padding:15px;
    width:70%;
}

.content-holder {
   
    /* max-width: 100%; */
    padding:10px;
}

.content-holder .search-key {
    width:100%;
}

.content-holder label, .content-holder input, .content-holder select {
    margin:5px 0;
}

.content-holder input, .content-holder select {
    padding: 10px 0;    
}

.content-holder select {
    padding: 13px 0;   
}

.content-holder .date-holder {
    float: left;
    width: 25%;
}

.date-holder input {
    padding: 10px;
}

.content-holder::after {
	content: '';
	display: block;
	clear: both;
}

.count-list {
    margin: 8px 0 14px 0;
}

.count-list li {
    list-style-type: none;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.count-list li span {
    padding: 8px;
    display: block;
    width: 25px;
    height: 25px;
    border-color: transparent!important;
    border-radius: 50%;
    text-align: center;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

/* .key input[type="text"] {
    position: relative;
}
.key input[type="text"]::before {
    font-family: 'FontAwesome';
    position: absolute;
    content: '\f3c5';
} */

/* Search Results - view */

.searched {
    border-bottom: 1px solid #ED8323;
    box-shadow: 0 3px 3px rgba(0,0,0,0.175);
    border-left: 1px solid #ED8323;
    margin-bottom: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-right: 1px solid #ED8323;
    border-top: 1px solid #F8F8F8;
}

.searched .content {
    float: left;
    margin-left: 10px;
}

.searched .search-key {
    width: 300px;
}

.searched::after {
	content: '';
	display: block;
    clear: both;
}

.content input {
    padding: 5px;
    height: 25px;
}

.content label {
    margin-left: 10px;
}

.xtra {
    float: left;
    margin-left: 75px;
    margin-top: 40px;
}

/* Results article */
.result-info {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border: 1px solid #F8F8F8;
}
.result-info h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
}

.each-result {
    width: 100%;
    border: 1px solid #F8F8F8;
    /* margin-bottom: 15px; */
    box-sizing: border-box;
    box-shadow: 0 3px 3px rgba(0,0,0,0.175);
}

section .img-container{
    float:left;
    width:25%;
    padding:10px;
}
section .img-container img{
    width:100%;
}
section .desc{
    float:left;
    width:50%;
    padding:10px;
}

section .desc h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
}

section .desc h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

section .details{
    float:left;
    width:20%;
    padding:10px;
}
.clear{
    clear: both;
}

.btn-block {
    display: block;
    width: 100px;
    margin-left: 0px;
}

.count-list li span:focus{outline:none}
.content-container.results{width:auto;overflow:hidden}
.content-container.results .content-holder:first-child{width:20%;float:left;}
.content-container.results .content-holder:nth-child(2){width:50%;float:left;}
.content-container.results .content-holder:last-child{width:20%;float:left;}

.content-container.results .content-holder:nth-child(2) .date-holder{width:30%;}
.content-container.results .content-holder:nth-child(2) .date-holder.guest{width:40%;}
.content-container.results .content-holder:last-child .btn-prime{margin-top:30px;background-color: #ED8323}