<!-- <div>
    {{msg}}
</div> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../fonts-and-icons/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div id="page">
        <section class="search-form">
            <div class="content-holder">
                <label for="location">Where are you going?</label>
                <input class="search-key" type="text" name="" id="location">
            </div>
            <div class="content-holder">
                <div class="date-holder">
                    <label for="fromDate">Check-in</label>
                    <input type="date" name="" id="fromDate">
                </div>
                <div class="date-holder">
                    <label for="toDate">Check-out</label>
                    <input type="date" name="" id="toDate">
                </div>
                <div class="date-holder">
                    <label for="guests">Guests</label>
                    <ul class="count-list">
                        <li></li>
                    </ul>
                </div>
            </div>
            <div class="content-holder">
                <a href="#" class="btn btn-prime">Search for Hotels</a>
            </div>
        </section>
    </div>
</body>
</html>