<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../fonts-and-icons/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div id="page">
        <section class="search-results">
            <header>
                <section>
                    <div class="">
                        <label for="location"></label>
                        <input type="text" name="location" id="">
                    </div>
                    <div class="">
                        <div>
                            <label for="fromDate">Check-in</label>
                            <input type="date" name="" id="fromDate">
                        </div>
                        <div>
                            <label for="toDate">Check-out</label>
                            <input type="date" name="" id="toDate">
                        </div>
                        <div>
                            <label for="guests">Guests</label>
                            <div></div>
                        </div>
                    </div>
                    <a href="#" class="btn">Search for Hotels</a>
                </section>
                </header>
                <section>
                    <section>
                        <h1>180 hotels in Las Vegas, NV, USA on April 22nd - April 24th for 1 adult(s)</h1>
                        <!--  Pagination comes here
                        <div></div>
                        -->
                    </section>
                    <section>
                        <!-- Search results comes here -->
                        <!-- Repeat the results with in rows with ng-repeat -->
                        <aside>
                            <img src="" alt="">
                            <div class="desc">
                                <!-- stars - icons -->
                                <h2>Mandaring Oriental, Las Vegas</h2>
                                <h4>some address, address, pincode</h4>
                            </div>
                        </aside>
                        <aside>
                            <span>from</span><span>$365</span><span>/night</span>
                            <span>total: $735</span>
                            <a href="#">Show rooms</a>
                        </aside>
                    </section>
                </section>
        </section>
        
    </div>
</body>
</html>